$content-heading-color: $text-strong !default;
$content-heading-weight: $weight-semibold !default;
$content-heading-line-height: 1.125 !default;

$content-blockquote-background-color: $background !default;
$content-blockquote-border-left: 5px solid $border !default;
$content-blockquote-padding: 1.25em 1.5em !default;

$content-pre-padding: 1.25em 1.5em !default;

$content-table-cell-border: 1px solid $border !default;
$content-table-cell-border-width: 0 0 1px !default;
$content-table-cell-padding: 0.5em 0.75em !default;
$content-table-cell-heading-color: $text-strong !default;
$content-table-head-cell-border-width: 0 0 2px !default;
$content-table-head-cell-color: $text-strong !default;
$content-table-foot-cell-border-width: 2px 0 0 !default;
$content-table-foot-cell-color: $text-strong !default;

.content {
  @extend %block;

  &>* {
    outline: none;
  }

  p {
    line-height: 2;
  }

  ul+.columns {
    margin-top: 3rem;
  }

  // Inline
  li + li {
    margin-top: 0.25em;
  }

  // Block
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {    
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $content-heading-color;
    font-weight: $content-heading-weight;
    line-height: $content-heading-line-height;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      padding-top: 1em;
    }
  }

  h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;

    &:not(:first-child) {
      padding-top: 1.1428em;
    }
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.6666em;

    &:not(:first-child) {
      padding-top: 1.3333em;
    }
  }

  h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
  }

  h5 {
    font-size: 1.125em;
    margin-bottom: 0.8888em;
  }

  h6 {
    font-size: 1em;
    margin-bottom: 1em;
  }

  a {
    border-bottom: 1px solid $primary;
  }

  blockquote {
    border-left: none;
    padding: 30px 60px;

    @include touch {
      padding-left: 0;
      padding-right: 0;
    }

    margin: 20px 0 0;
    background: none;
    margin-bottom: 26px;

    p {
      font-size: 20px;
      line-height: 30px;
      color: black;
      position: relative;
      font-family: "Georgia";
      font-style: italic;

      &:before {
        content: "\201C";
        color: #ececec;
        font-size: 150px;
        font-weight: 700;
        position: absolute;
        top: 30px;
        left: -39px;
        text-shadow: none;
        z-index: -300;
      }
    }

    cite {
      font-size: 16px;
      color: $grey;
      display: block;
      margin-top: 1rem;

      &:before {
        content: "-";
        margin-right: 4px;
      }
    }
  }

  ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
    
    ol {
      margin-top: 0.5rem;
    }

    &:not([type]) {
      list-style-type: decimal;

      &.is-lower-alpha {
        list-style-type: lower-alpha;
      }

      &.is-lower-roman {
        list-style-type: lower-roman;
      }

      &.is-upper-alpha {
        list-style-type: upper-alpha;
      }

      &.is-upper-roman {
        list-style-type: upper-roman;
      }
    }
  }

  ul {
    list-style: none;
    margin-left: 2em;
    margin-top: 1em;

    &>li {
      &:before {
        content: "";
        margin-left: -26px;
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Ctitle%3Ec check%3C/title%3E%3Cg class='nc-icon-wrapper' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='%23#{$replace}' stroke='%23#{$replace}'%3E%3Cpolyline data-color='color-2' fill='none' stroke-miterlimit='10' points=' 6,12 10,16 18,8 '/%3E%3Ccircle fill='none' stroke='%23#{$replace}' stroke-miterlimit='10' cx='12' cy='12' r='11'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2px;
      }
    }

    ul {
      list-style: none;

      li:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Ctitle%3Ei check%3C/title%3E%3Cg class='nc-icon-wrapper' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='%23#{$replace}' stroke='%23#{$replace}'%3E%3Cpolyline data-color='color-2' points='7 13 10 16 17 8' fill='none' stroke-miterlimit='10'/%3E%3Crect x='2' y='2' width='20' height='20' fill='none' stroke='%23#{$replace}' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
      }

      ul {
        list-style: none;

        li:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Ctitle%3Eshape rectangle%3C/title%3E%3Cg class='nc-icon-wrapper' stroke-linecap='square' stroke-linejoin='miter' stroke-width='2' fill='%23#{$replace}' stroke='%23#{$replace}'%3E%3Crect x='2' y='2' width='20' height='20' fill='none' stroke='%23#{$replace}' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }

  dd {
    margin-left: 2em;
  }

  figure {
    text-align: center;
    line-height: inherit;

    img {
      display: inline-block;
    }

    figcaption {
      font-style: italic;
      font-size: 0.875em;
      color: $grey;
    }
  }

  pre {
    @include overflow-touch;

    overflow-x: auto;
    padding: $content-pre-padding;
    white-space: pre;
    word-wrap: normal;
  }

  sup,
  sub {
    font-size: 75%;
  }

  table {
    width: 100%;

    td,
    th {
      border: $content-table-cell-border;
      border-width: $content-table-cell-border-width;
      padding: $content-table-cell-padding;
      vertical-align: top;
    }

    th {
      color: $content-table-cell-heading-color;
      text-align: left;
    }

    thead {
      td,
      th {
        border-width: $content-table-head-cell-border-width;
        color: $content-table-head-cell-color;
      }
    }

    tfoot {
      td,
      th {
        border-width: $content-table-foot-cell-border-width;
        color: $content-table-foot-cell-color;
      }
    }

    tbody {
      tr {
        &:last-child {
          td,
          th {
            border-bottom-width: 0;
          }
        }
      }
    }
  }

  // Sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }
}
